{% extends 'layout.html' %}
{% block body %}

<form action="/createStylistAccount" method="POST">
	<div class="signup">
		<div class="signup-screen">
			<div class="app-title">
				<h1>Stylist Sign Up Form</h1>
			</div>

			<div class="signup-form">
        <div>
          <input type="text" placeholder="Full Name" name="fName" id="fName">
        </div>

        <div>
  				<input type="text" placeholder="username" name="uName" id="uName">
  				<label for="login-name"></label>
        </div>

        <div>
  				<input type="password" class="login-field" value="" placeholder="password" name="password" id="password">
  				<label for="login-pass"></label>
        </div>
            <input type="submit" value="Submit">
			    <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}
